{
	"extends": [
		"airbnb",
		"eslint:recommended"
	],
	"parser": "babel-eslint",
	"plugins": [
		"react"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "jest": true
  },
	"rules": {
		"semi": [2, "always"],
		"max-len": [1, 80, 2, {
			"ignoreUrls": true,
			"ignoreComments": false,
			"ignoreRegExpLiterals": true,
			"ignoreStrings": true,
			"ignoreTemplateLiterals": true
	    }],
	    "require-jsdoc": ["error", {
	        "require": {
	            "FunctionDeclaration": true,
	            "MethodDefinition": true,
	            "ClassDeclaration": true,
	            "ArrowFunctionExpression": false,
	            "FunctionExpression": false
        	}
    	}],
    	"valid-jsdoc": ["error", {
			"prefer": { 
				"arg": "param",
				"argument": "param",
				"class": "constructor",
				"return": "returns",
				"virtual": "abstract" 
			}
		}],
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
	}
}
