# dependency directory
/node_modules

# test coverage info directory
.nyc_output

# environment variables
.env

# coveralls config
.coveralls.yml

# production source code
/dist

#dredd config
dredd.yml

# code coverage directory
coverage

.coveralls.yml
