@import url('https://fonts.googleapis.com/css?family=Vollkorn:300,300i,400,500,600,700|Roboto:300,400,500,600,700,800');
@import 'toastr/build/toastr';
@import './variables';
@import './mixins';
@import './questionSummary';
@import './home';
@import './signup';
@import './question';
@import './post';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
}

.spinner-overlay {
  background-color: $spinner-overlay;
  font-size: 1.8em;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99;

  i {
    color: $color-accent;
    position: relative;
    top: 45%;
  }
}

.main-content {
  margin: auto;
  max-width: 79em;
  min-height: 90vh;
}

.btn-new-question {
  background: $color-accent;
  border: 0;
  border-radius: 1.5em;
  color: $color-white;
  cursor: pointer;
  font-size: 0.8em;
  outline: 0;
  padding: 0.5em 2.5em;
  white-space: nowrap;

  &:hover {
    box-shadow: 0 0 1px 1px $box-shadow;
  }
}

.content-header {
  align-items: center;
  background-color: $color-bg;
  display: flex;
  height: 2.5em;
  justify-content: space-between;
  margin-top: 2px;
  padding: 0 1em;

  h2 {
    font-family: 'vollkorn', sans-serif;
    font-weight: 500;
  }
}

header {
  border-top: 3px solid $color-red;
  box-shadow: 0 1px 0 $box-shadow-alt, 0 1px 6px $box-shadow-header;
  line-height: 2.5em;
  padding: 0.2em 0;
  width: 100%;

  .header-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 79em;
  }

  .title-search-cont {
    align-items: center;
    display: flex;
    width: 100%;

    a {
      text-decoration: none;
    }

    .title {
      align-items: center;
      color: $color-accent;
      display: flex;

      span {
        font-family: 'Vollkorn', sans-serif;
        font-size: 1.5em;
        font-weight: 600;
        height: 1.5em;
        letter-spacing: -2px;
        white-space: nowrap;
      }

      i {
        font-size: 1.5em;
        margin: 0 0.2em;
      }
    }

    .search-form {
      align-items: center;
      background-color: $color-bg-dark;
      border: 1px solid $color-border;
      border-radius: 1.5em;
      display: flex;
      height: 2em;
      margin: 0 1em;
      min-width: 14em;
      padding: 0.5em;
      transition: width 0.8s ease-in-out;
      width: 15em;

      &:focus-within {
        width: 100%;
      }

      a{
        height: 2em;
      }

      i {
        color: $color-accent;
        font-size: 1.5em;
      }

      #search-bar {
        @include placeholder($text-secondary, 0.9em);
        background-color: $color-bg-dark;
        border: 0;
        font-size: 1em;
        margin: 0 1em;
        outline: 0;
        width: 100%;
      }
    }
  }

  .user-options-cont {
    display: flex;

    .user-options {
      align-items: center;
      display: flex;

      i {
        color: $color-accent;
        font-size: 2.4em;
      }
    }

    .guest-options {
      align-items: center;
      display: flex;
    }

    a {
      margin: 0 0.4em;
    }

    button {
      border: 0;
      border-radius: 4px;
      box-shadow: 0 1px 2px 0 $box-shadow;
      cursor: pointer;
      font-size: 1em;
      line-height: 1;
      margin: 0;
      outline: 0;
      padding: 0.5em 1.5em;
      position: relative;
      white-space: nowrap;

      &:hover {
        bottom: 1px;
        box-shadow: 0 1px 2px 1px $box-shadow;
      }

      &:active {
        bottom: 0;
      }
    }
  }
}


@media screen and (max-width: 776px) {
  header {
    .title-search-cont {
      .title {
        span {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 549px) {
  header {
    .title-search-cont {
      .title {
        font-size: 2em;
      }

      .search-form {
        border: 0;
        height: 3em;
        margin: 0 0.7em;
        min-width: 3em;
        width: 3em;

        i {
          font-size: 2em;
        }

        #search-bar {
          display: none;
        }
      }
    }
  }
}
